span:hover {
    cursor: pointer;
    background-color: skyblue;
}

.favorable {
font-size: 16px;
background-color: lightgreen;
}

.moderate {
font-size: 16px;
background-color: yellow;
}

.severe {
font-size: 16px;
background-color: rgb(243, 11, 11);
}